<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT AboutPage ANY>
<!ATTLIST AboutPage id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT ECCalendar ANY>
<!ATTLIST ECCalendar id ID #REQUIRED>
<!ELEMENT ECEventDetails ANY>
<!ATTLIST ECEventDetails id ID #REQUIRED>
<!ELEMENT EventDetailsPage ANY>
<!ATTLIST EventDetailsPage id ID #REQUIRED>
<!ELEMENT EventsLandingPage ANY>
<!ATTLIST EventsLandingPage id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT NewsArticlePage ANY>
<!ATTLIST NewsArticlePage id ID #REQUIRED>
<!ELEMENT NewsLandingPage ANY>
<!ATTLIST NewsLandingPage id ID #REQUIRED>
<!ELEMENT SiteDetails ANY>
<!ATTLIST SiteDetails id ID #REQUIRED>
<!ELEMENT SiteMaster ANY>
<!ATTLIST SiteMaster id ID #REQUIRED>
<!ELEMENT SliderItem ANY>
<!ATTLIST SliderItem id ID #REQUIRED>
<!ELEMENT SlidersContainer ANY>
<!ATTLIST SlidersContainer id ID #REQUIRED>
<!ELEMENT SponsorPage ANY>
<!ATTLIST SponsorPage id ID #REQUIRED>
<!ELEMENT SponsorsLandingPage ANY>
<!ATTLIST SponsorsLandingPage id ID #REQUIRED>
<!ELEMENT StandardTextPage ANY>
<!ATTLIST StandardTextPage id ID #REQUIRED>
<!ELEMENT TeamPage ANY>
<!ATTLIST TeamPage id ID #REQUIRED>
<!ELEMENT TeamsLandingPage ANY>
<!ATTLIST TeamsLandingPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1053" key="4eccec08-eb6e-4eb4-9f3e-c5eca044499c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-12-19T17:07:10" updateDate="2016-01-24T21:49:45" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1047" creatorName="Denford" writerName="Denford" writerID="0" template="1051" nodeTypeAlias="HomePage">
    <bodyText><![CDATA[<p>We are a soccer club from Adelaide, South Australia. In 2013, Noarlunga play in the FFSA South Australian State League. Our home ground is at Wilfred Taylor Reserve in Adelaide's southern suburbs.</p>
<p>Our club was founded under the name of Wakefield Wanderers in 1963 by John Jones and Norm Hughes and club changed its name in 1974 to Noarlunga United. The nickname the bulldogs is in honor of the club's British heritage. </p>]]></bodyText>
    <linkTittle><![CDATA[Home]]></linkTittle>
    <pageHeading><![CDATA[Noarlunga United Soccer Club]]></pageHeading>
    <sEOSitemapFrequency><![CDATA[Daily]]></sEOSitemapFrequency>
    <sEOSitemapPriority><![CDATA[1]]></sEOSitemapPriority>
    <browserTitle><![CDATA[Noarlunga United Soccer Club]]></browserTitle>
    <pageIcon><![CDATA[home]]></pageIcon>
    <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
    <hideFromMenu>0</hideFromMenu>
    <hideFromSideMenu>0</hideFromSideMenu>
    <AboutPage id="1082" key="7a916bad-5d36-452a-90b2-323c3ca898f3" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2015-12-30T20:54:35" updateDate="2016-01-20T18:09:54" nodeName="About" urlName="about" path="-1,1053,1082" isDoc="" nodeType="1061" creatorName="Denford" writerName="Denford" writerID="0" template="1062" nodeTypeAlias="AboutPage">
      <bodyText><![CDATA[<p>The club was founded under the name of Wakefield Wanderers in 1963 by John Jones and Norm Hughes. The club changed its name in 1974 to Noarlunga United. The nickname the bulldogs is in honor of the club's British heritage.</p>
<p>The club originally played at Wakefield Reserve, Acre Avenue, Pimpala. The pitch was virtually on the top of a cliff. It had a very big slope down hill from south to north and the winds which used to rip down and across the pitch were horrific.</p>
<p>The club moved to the Wilfred Taylor Reserve which is a far cry from the early years. The club has spacious club-rooms and undercover facilities for supporters. Club patrons and players alike have nicknamed their home the pound.</p>]]></bodyText>
      <pageHeading><![CDATA[About]]></pageHeading>
      <pageIcon><![CDATA[info-circle]]></pageIcon>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <StandardTextPage id="1130" key="2b3521cd-5a58-4992-8fd6-ea46d4d6a3cd" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2016-01-13T23:15:37" updateDate="2016-01-13T23:51:04" nodeName="History" urlName="history" path="-1,1053,1082,1130" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="1052" nodeTypeAlias="StandardTextPage">
        <bodyText><![CDATA[<p>The club has was started way back in 1963 by our founders John Jones and Norm Hughes.</p>]]></bodyText>
        <linkTittle><![CDATA[Club History]]></linkTittle>
        <pageHeading><![CDATA[Club History]]></pageHeading>
        <pageIcon><![CDATA[history]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>1125</headingImage>
      </StandardTextPage>
    </AboutPage>
    <TeamsLandingPage id="1083" key="36c752e5-5f4d-4f5d-96e9-deef6e7e8c13" parentID="1053" level="2" creatorID="0" sortOrder="1" createDate="2015-12-30T20:55:22" updateDate="2016-01-01T15:25:22" nodeName="Teams" urlName="teams" path="-1,1053,1083" isDoc="" nodeType="1063" creatorName="Denford" writerName="Denford" writerID="0" template="1064" nodeTypeAlias="TeamsLandingPage">
      <pageHeading><![CDATA[Our Teams]]></pageHeading>
      <pageIcon><![CDATA[futbol-o]]></pageIcon>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <TeamPage id="1084" key="de67e828-8ff2-4b74-a3b2-bb9901be0a6d" parentID="1083" level="3" creatorID="0" sortOrder="0" createDate="2015-12-30T20:58:37" updateDate="2016-01-14T23:23:49" nodeName="Seniors" urlName="seniors" path="-1,1053,1083,1084" isDoc="" nodeType="1066" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="TeamPage">
        <pageHeading><![CDATA[Seniors]]></pageHeading>
        <pageIcon><![CDATA[users]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </TeamPage>
      <TeamPage id="1085" key="f7ba6f29-2255-4332-8875-f1865204853b" parentID="1083" level="3" creatorID="0" sortOrder="1" createDate="2015-12-30T20:59:38" updateDate="2016-01-17T23:23:07" nodeName="Amateur" urlName="amateur" path="-1,1053,1083,1085" isDoc="" nodeType="1066" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="TeamPage">
        <pageHeading><![CDATA[Amateur League]]></pageHeading>
        <pageIcon><![CDATA[users]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </TeamPage>
      <TeamPage id="1111" key="7a826065-b302-4ba9-9583-70198315bb54" parentID="1083" level="3" creatorID="0" sortOrder="2" createDate="2016-01-08T20:16:35" updateDate="2016-01-17T23:36:11" nodeName="Under 8's" urlName="under-8s" path="-1,1053,1083,1111" isDoc="" nodeType="1066" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="TeamPage">
        <pageIcon><![CDATA[users]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </TeamPage>
      <TeamPage id="1136" key="4b54df99-bcf3-4bae-bb12-0e16725c1b8b" parentID="1083" level="3" creatorID="0" sortOrder="3" createDate="2016-01-17T23:28:51" updateDate="2016-01-17T23:36:31" nodeName="Over 35's" urlName="over-35s" path="-1,1053,1083,1136" isDoc="" nodeType="1066" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="TeamPage">
        <pageIcon><![CDATA[users]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </TeamPage>
    </TeamsLandingPage>
    <EventsLandingPage id="1086" key="4e5c029e-d474-491b-ad93-e34bd4ec6448" parentID="1053" level="2" creatorID="0" sortOrder="2" createDate="2015-12-30T21:30:05" updateDate="2016-01-14T22:57:59" nodeName="Events" urlName="events" path="-1,1053,1086" isDoc="" nodeType="1068" creatorName="Denford" writerName="Denford" writerID="0" template="1067" nodeTypeAlias="EventsLandingPage">
      <pageHeading><![CDATA[Events]]></pageHeading>
      <pageIcon><![CDATA[calendar]]></pageIcon>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <sideCalendarEvents><![CDATA[1]]></sideCalendarEvents>
      <eventsCalendar><![CDATA[0]]></eventsCalendar>
      <EventDetailsPage id="1087" key="2cea872f-feed-45dc-b100-ca24ba3bb573" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2015-12-30T21:30:59" updateDate="2016-01-02T18:09:32" nodeName="Details" urlName="details" path="-1,1053,1086,1087" isDoc="" nodeType="1070" creatorName="Denford" writerName="Denford" writerID="0" template="1069" nodeTypeAlias="EventDetailsPage">
        <pageIcon><![CDATA[calendar-o]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </EventDetailsPage>
    </EventsLandingPage>
    <NewsLandingPage id="1088" key="b613e05e-73b0-44c2-9983-f828704f92b9" parentID="1053" level="2" creatorID="0" sortOrder="3" createDate="2015-12-30T21:31:38" updateDate="2016-01-01T15:26:49" nodeName="News" urlName="news" path="-1,1053,1088" isDoc="" nodeType="1072" creatorName="Denford" writerName="Denford" writerID="0" template="1071" nodeTypeAlias="NewsLandingPage">
      <pageHeading><![CDATA[News]]></pageHeading>
      <pageIcon><![CDATA[newspaper-o]]></pageIcon>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <NewsArticlePage id="1098" key="0cf3fad8-8c14-4293-a8c2-0b97f3bdad8d" parentID="1088" level="3" creatorID="0" sortOrder="0" createDate="2016-01-02T18:11:19" updateDate="2016-01-13T22:56:57" nodeName="Christmas Party" urlName="christmas-party" path="-1,1053,1088,1098" isDoc="" nodeType="1074" creatorName="Denford" writerName="Denford" writerID="0" template="1073" nodeTypeAlias="NewsArticlePage">
        <bodyText><![CDATA[<p>The Christmas party was a great family event which was held at the club home ground in Morphett Vale.</p>]]></bodyText>
        <pageHeading><![CDATA[Christmas Party]]></pageHeading>
        <pageIcon><![CDATA[newspaper-o]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <articleDate>2015-12-20T00:00:00</articleDate>
      </NewsArticlePage>
      <NewsArticlePage id="1128" key="4e46aded-f9dc-4b67-848b-a25a3380042b" parentID="1088" level="3" creatorID="0" sortOrder="1" createDate="2016-01-13T21:39:36" updateDate="2016-01-19T22:49:33" nodeName="Team Trials" urlName="team-trials" path="-1,1053,1088,1128" isDoc="" nodeType="1074" creatorName="Denford" writerName="Denford" writerID="0" template="1073" nodeTypeAlias="NewsArticlePage">
        <pageHeading><![CDATA[Club Team Trials]]></pageHeading>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <articleDate>2015-11-10T00:00:00</articleDate>
      </NewsArticlePage>
      <NewsArticlePage id="1129" key="554858c5-c697-4a85-8053-ecebe27b2de8" parentID="1088" level="3" creatorID="0" sortOrder="2" createDate="2016-01-13T21:41:23" updateDate="2016-01-13T21:41:23" nodeName="Season Party" urlName="season-party" path="-1,1053,1088,1129" isDoc="" nodeType="1074" creatorName="Denford" writerName="Denford" writerID="0" template="1073" nodeTypeAlias="NewsArticlePage">
        <pageHeading><![CDATA[End of Season Party]]></pageHeading>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <articleDate>2015-09-06T00:00:00</articleDate>
      </NewsArticlePage>
    </NewsLandingPage>
    <ContactPage id="1089" key="0a4fc75a-3871-4d9b-99a1-d80524ebeed2" parentID="1053" level="2" creatorID="0" sortOrder="4" createDate="2015-12-30T21:32:46" updateDate="2016-01-20T17:46:41" nodeName="Contact" urlName="contact" path="-1,1053,1089" isDoc="" nodeType="1076" creatorName="Denford" writerName="Denford" writerID="0" template="1075" nodeTypeAlias="ContactPage">
      <bodyText><![CDATA[<p>There is a number of ways to get in touch with us, either visit us at our home ground (see details and map location below) or fill the contact form below or call us, email us or visit our Facebook or Twitter page all details in our footer.</p>]]></bodyText>
      <linkTittle><![CDATA[Contact]]></linkTittle>
      <pageHeading><![CDATA[Contact Us]]></pageHeading>
      <pageIcon><![CDATA[map-marker]]></pageIcon>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <locationAddress><![CDATA[Wilfred Taylor Reserve
Sports Park Drive
Morphett Vale
SA 5162]]></locationAddress>
      <locationMap><![CDATA[-35.12032534446498,138.5410686936401]]></locationMap>
    </ContactPage>
    <SponsorsLandingPage id="1090" key="ce0a80b0-9257-43d0-93fb-3d1bd73beb22" parentID="1053" level="2" creatorID="0" sortOrder="5" createDate="2015-12-30T21:34:00" updateDate="2016-01-16T23:26:03" nodeName="Sponsors" urlName="sponsors" path="-1,1053,1090" isDoc="" nodeType="1078" creatorName="Denford" writerName="Denford" writerID="0" template="1077" nodeTypeAlias="SponsorsLandingPage">
      <bodyText><![CDATA[<p>We have a number of sponsors that help keep the club running, from financial support to general donations like sports equipment, these companies help to provide the blood of the club.</p>]]></bodyText>
      <pageHeading><![CDATA[Club Sponsors]]></pageHeading>
      <pageIcon><![CDATA[dollar]]></pageIcon>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <SponsorPage id="1091" key="82bde28d-ea37-4b87-a447-ef3f1f2f5701" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2015-12-30T21:34:22" updateDate="2016-01-16T23:16:18" nodeName="Bank SA" urlName="bank-sa" path="-1,1053,1090,1091" isDoc="" nodeType="1081" creatorName="Denford" writerName="Denford" writerID="0" template="1079" nodeTypeAlias="SponsorPage">
        <bodyText><![CDATA[<p>Bank SA have been sponsoring the clubs for years.</p>]]></bodyText>
        <pageHeading><![CDATA[Bank SA]]></pageHeading>
        <pageIcon><![CDATA[money]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>1110</headingImage>
        <sponsorLogo>1110</sponsorLogo>
        <sponsorPhoneNumber><![CDATA[13 13 76]]></sponsorPhoneNumber>
        <sponsorEmail><![CDATA[support@banksa.com.au]]></sponsorEmail>
        <sponsorWebsiteLink><![CDATA[https://www.banksa.com.au/]]></sponsorWebsiteLink>
        <sponsorAddress><![CDATA[BankSA, GPO Box 399, Adelaide, SA 5001]]></sponsorAddress>
      </SponsorPage>
      <SponsorPage id="1099" key="8564fd4c-4629-4250-b3f2-dbd4ada6c48e" parentID="1090" level="3" creatorID="0" sortOrder="1" createDate="2016-01-05T21:51:58" updateDate="2016-01-11T21:28:51" nodeName="Metro Property Development" urlName="metro-property-development" path="-1,1053,1090,1099" isDoc="" nodeType="1081" creatorName="Denford" writerName="Denford" writerID="0" template="1079" nodeTypeAlias="SponsorPage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <sponsorLogo>1112</sponsorLogo>
      </SponsorPage>
      <SponsorPage id="1100" key="d5a7b53e-59d8-4ec6-98bd-610cf2fd2003" parentID="1090" level="3" creatorID="0" sortOrder="2" createDate="2016-01-05T21:52:43" updateDate="2016-01-16T23:33:14" nodeName="Morphett Vale Early Learning Centre" urlName="morphett-vale-early-learning-centre" path="-1,1053,1090,1100" isDoc="" nodeType="1081" creatorName="Denford" writerName="Denford" writerID="0" template="1079" nodeTypeAlias="SponsorPage">
        <bodyText><![CDATA[<p>Morphett Vale Early Learning Centre is an open and spacious centre filled with charm and character that will ensure your children play and learn in a relaxed but stimulating environment</p>]]></bodyText>
        <linkTittle><![CDATA[Early Learning Centre]]></linkTittle>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>1113</headingImage>
        <sponsorLogo>1114</sponsorLogo>
        <sponsorPhoneNumber><![CDATA[08 8186 6599]]></sponsorPhoneNumber>
        <sponsorEmail><![CDATA[morphettvale@earlylearningservices.com.au]]></sponsorEmail>
        <sponsorWebsiteLink><![CDATA[http://www.earlylearningservices.com.au/centres/childcare-morphett-vale/]]></sponsorWebsiteLink>
        <sponsorAddress><![CDATA[Morphett Vale Early Learning Centre, 105-107 Flaxmill Road, Morphett Vale, SA 5162 Australia]]></sponsorAddress>
      </SponsorPage>
      <SponsorPage id="1101" key="bbf3e1cd-df78-40dc-b6df-35f1fddc952e" parentID="1090" level="3" creatorID="0" sortOrder="3" createDate="2016-01-05T21:53:31" updateDate="2016-01-11T21:45:01" nodeName="Magain Real Estates" urlName="magain-real-estates" path="-1,1053,1090,1101" isDoc="" nodeType="1081" creatorName="Denford" writerName="Denford" writerID="0" template="1079" nodeTypeAlias="SponsorPage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <sponsorLogo>1109</sponsorLogo>
      </SponsorPage>
      <SponsorPage id="1102" key="c13e00c3-fcd5-4c7b-9f98-d901e941bff4" parentID="1090" level="3" creatorID="0" sortOrder="4" createDate="2016-01-05T21:54:04" updateDate="2016-01-11T21:50:42" nodeName="Good Life Health Clubs" urlName="good-life-health-clubs" path="-1,1053,1090,1102" isDoc="" nodeType="1081" creatorName="Denford" writerName="Denford" writerID="0" template="1079" nodeTypeAlias="SponsorPage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <sponsorLogo>1115</sponsorLogo>
      </SponsorPage>
      <SponsorPage id="1103" key="16639e0d-ad78-4895-9614-8450c84d1989" parentID="1090" level="3" creatorID="0" sortOrder="5" createDate="2016-01-05T21:54:31" updateDate="2016-01-11T21:54:13" nodeName="Soccer Locker" urlName="soccer-locker" path="-1,1053,1090,1103" isDoc="" nodeType="1081" creatorName="Denford" writerName="Denford" writerID="0" template="1079" nodeTypeAlias="SponsorPage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <sponsorLogo>1116</sponsorLogo>
      </SponsorPage>
    </SponsorsLandingPage>
  </HomePage>
  <GlobalSettings id="1093" key="3ebc397d-4eed-432b-8dc5-84f741272211" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-12-30T21:45:46" updateDate="2015-12-30T21:45:46" nodeName="Site Settings" urlName="site-settings" path="-1,1093" isDoc="" nodeType="1049" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="GlobalSettings">
    <SiteDetails id="1094" key="325789ae-37b8-4285-aaba-558166c2f9f9" parentID="1093" level="2" creatorID="0" sortOrder="0" createDate="2015-12-30T21:51:28" updateDate="2016-01-16T21:37:07" nodeName="Website Details" urlName="website-details" path="-1,1093,1094" isDoc="" nodeType="1092" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteDetails">
      <sitePhoneNumber><![CDATA[(08) 8326 2855]]></sitePhoneNumber>
      <siteEmailAddress><![CDATA[support@noarlungaunited.com.au]]></siteEmailAddress>
      <siteName><![CDATA[Noarlunga United Soccer Club]]></siteName>
      <siteAddress><![CDATA[Wilfred Taylor Reserve, Sports Park Dr, Morphett Vale SA 5162]]></siteAddress>
      <twitterPage><![CDATA[https://twitter.com/NoarlungaUnited]]></twitterPage>
      <facebookPage><![CDATA[https://www.facebook.com/noarlungaunited]]></facebookPage>
      <defaultMetaDescription><![CDATA[Noarlunga United Soccer Club is a soccer club from Morphett Vale, Adelaide, South Australia and we are based at Wilfred Taylor Reserve where our home ground is.]]></defaultMetaDescription>
      <defaultKeyWords><![CDATA[Noarlunga United Soccer Club, Noarlunga United, Noarlunga United Bulldogs, Morphett Vale, Wilfred Taylor Reserve]]></defaultKeyWords>
      <rightHeaderLogo>1096</rightHeaderLogo>
      <leftHeaderLogo>1097</leftHeaderLogo>
    </SiteDetails>
    <SlidersContainer id="1119" key="262bf615-d3d5-4851-b94f-0e305683c816" parentID="1093" level="2" creatorID="0" sortOrder="1" createDate="2016-01-11T23:25:07" updateDate="2016-01-11T23:25:07" nodeName="Home Page Slider" urlName="home-page-slider" path="-1,1093,1119" isDoc="" nodeType="1117" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SlidersContainer">
      <SliderItem id="1120" key="f33653eb-dd51-4bf3-b542-d8bef75d3cc7" parentID="1119" level="3" creatorID="0" sortOrder="0" createDate="2016-01-11T23:26:28" updateDate="2016-01-11T23:47:51" nodeName="Events" urlName="events" path="-1,1093,1119,1120" isDoc="" nodeType="1118" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderText><![CDATA[For all upcoming events, see our events calendar...]]></sliderText>
        <sliderImage>1124</sliderImage>
        <sliderLinkPage>1086</sliderLinkPage>
        <sliderHeading><![CDATA[Clubs Events]]></sliderHeading>
      </SliderItem>
      <SliderItem id="1121" key="5e6c02c1-3124-48aa-99c6-56ceb65ce2ec" parentID="1119" level="3" creatorID="0" sortOrder="1" createDate="2016-01-11T23:28:55" updateDate="2016-01-11T23:48:06" nodeName="Sponsors" urlName="sponsors" path="-1,1093,1119,1121" isDoc="" nodeType="1118" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderText><![CDATA[We have a wide range of club sponsors...]]></sliderText>
        <sliderImage>1126</sliderImage>
        <sliderLinkPage>1090</sliderLinkPage>
        <sliderHeading><![CDATA[Club Sponsors]]></sliderHeading>
      </SliderItem>
      <SliderItem id="1122" key="cccd9fdf-f718-4ee5-bd3c-622805c875af" parentID="1119" level="3" creatorID="0" sortOrder="2" createDate="2016-01-11T23:30:37" updateDate="2016-01-11T23:48:21" nodeName="Our Teams" urlName="our-teams" path="-1,1093,1119,1122" isDoc="" nodeType="1118" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderText><![CDATA[We have a wide range of teams from kids to adults....]]></sliderText>
        <sliderImage>1125</sliderImage>
        <sliderLinkPage>1083</sliderLinkPage>
        <sliderHeading><![CDATA[Club Teams]]></sliderHeading>
      </SliderItem>
    </SlidersContainer>
  </GlobalSettings>
</root>