<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <scriptBundle virtualPath="~/bundles/sitescripts" disableMinification="False">
      <include virtualPath="~/scripts/jquery.min.1.11.3.js" />
      <include virtualPath="~/scripts/bootstrap.min.js" />
      <include virtualPath="~/scripts/blueimp-gallery.min.js" />
      <include virtualPath="~/scripts/mainScripts.js" />
      <include virtualPath="~/scripts/EventCalendar/moment.min.js" />
      <include virtualPath="~/scripts/EventCalendar/fullcalendar.min.js" />
      <include virtualPath="~/scripts/EventCalendar/gcal.js" />
      <include virtualPath="~/scripts/EventCalendar/lang-all.js" />
      <include virtualPath="~/scripts/jquery.qtip.min.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/sitecss" disableMinification="True">
      <include virtualPath="~/css/bootstrap.css" />
      <include virtualPath="~/css/mainstyles.css" />
      <include virtualPath="~/css/font-awesome.css" />
      <include virtualPath="~/css/EventCalendar/fullcalendar.css" />
      <include virtualPath="~/css/jquery.qtip.min.css" />
      <include virtualPath="~/css/blueimp-gallery.min.css" />
    </styleBundle>
  </bundles>
</optimus>